<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devor.aotter.activitytst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"
            android:label="This is FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/><!--注意此处和原书有不同-->
            </intent-filter><!--以上两行代码保证该活动成为此程序的主活动-->
        </activity>//注册的第一个活动
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="com.devor.aotter.activitytst.ACTION_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category    android:name="devor.aotter.activitytst.MY_CAREGORY"/>
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
